affinegap==1.10
altgraph==0.16.1
amqp==2.5.1
asn1crypto==0.24.0
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
billiard==3.6.1.0
BTrees==4.5.1
cached-property==1.3.1
categorical-distance==1.9
celery==4.3.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.3
cycler==0.10.0
DateTime==4.3
datetime-distance==0.1.3
decorator==4.1.2
dedupe==1.9.7
dedupe-hcluster==0.3.6
dedupe-variable-datetime==0.1.5
dis3==0.1.3
Django==1.7
django-debug-toolbar==1.11
django-extensions==2.2.1
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
dotenv==0.0.5
DoubleMetaphone==0.1
elasticsearch==7.0.5
elasticsearch-dsl==7.0.0
enum34==1.1.6
es2csv==5.5.2
fastcluster==1.1.24
feedparser==5.2.1
Flask==1.1.1
Flask-Executor==0.9.3
Flask-HTTPAuth==3.3.0
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
gitdb2==2.0.5
GitPython==2.1.14
gunicorn==19.9.0
haversine==2.1.1
highered==0.2.1
html5lib==0.999999999
idna==2.8
importlib-metadata==0.23
ipaddress==1.0.22
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.3
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
kombu==4.6.5
lazy-object-proxy==1.4.1
Levenshtein-search==1.4.4
lxml==4.2.1
macholib==1.11
MarkupSafe==1.1.1
matplotlib==2.2.4
mccabe==0.6.1
mock==2.0.0
more-itertools==5.0.0
netifaces==0.10.4
nltk==3.4.5
notify2==0.3
numpy==1.16.6
olefile==0.45.1
packaging==19.1
pandas==0.24.2
parso==0.5.0
pathlib2==2.3.5
pbr==3.1.1
pefile==2019.4.18
persistent==4.5.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.13.0
progressbar2==3.36.0
prompt-toolkit==1.0.15
protobuf==3.0.0
psutil==5.4.2
pulseaudio-dlna==0.5.2
py==1.8.0
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pydocstyle==3.0.0
pyflakes==2.1.1
Pygments==2.2.0
pygobject==3.26.1
pyhacrf-datamade==0.2.3
pyinotify==0.9.6
PyInstaller==3.4
PyLBFGS==0.2.0.12
pylint==1.9.4
pyOpenSSL==17.5.0
pyparsing==2.4.6
pyroute2==0.4.21
pytest==4.6.5
python-dateutil==2.8.1
python-jsonrpc-server==0.2.0
python-language-server==0.27.0
python-utils==2.3.0
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.22.0
rlr==2.4.5
rope==0.14.0
scandir==1.10.0
schedule==0.6.0
scipy==1.2.2
SecretStorage==2.3.1
selenium==3.141.0
setproctitle==1.1.10
simplecosine==1.2
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.14.0
smmap2==2.0.5
snowballstemmer==1.9.0
sqlparse==0.3.0
stevedore==1.28.0
subprocess32==3.5.4
texttable==0.9.1
traitlets==4.3.2
typing==3.7.4.1
Unidecode==1.1.0
urllib3==1.25.6
vine==1.3.0
virtualenv==15.1.0
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.44.0
Werkzeug==0.16.0
wrapt==1.11.2
yapf==0.28.0
zeroconf==0.19.1
zipp==0.6.0
zope.index==4.4.0
zope.interface==4.6.0
